* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #344E41 !important;
}

a {
  text-decoration: none;
  color: #344E41;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #344E41;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #F0EAD2;
}

.mensaje {
  position: fixed;
  bottom: 40px;
  right: 5px;
  z-index: 1;
}
.mensaje img {
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: "";
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: #ADC178;
  z-index: 1;
  padding: 9px;
}
header .logo {
  width: 45px;
}
header .nav .nav__toggle {
  display: none;
}
header .nav .nav__checkbox {
  display: none;
}
header .nav .menu {
  display: flex;
  justify-content: space-between;
  flex-direction: "";
  align-items: "";
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}
header .nav .menu li {
  margin: 15px;
}
header .nav .menu li a {
  text-decoration: none;
  color: #344E41;
}
header .nav .menu li a #carritoCompra {
  width: 20px;
}
header .nav .menu li:first-child {
  display: none;
}
header a {
  place-self: center end;
  text-decoration: none;
  color: #344E41;
}

.header-login {
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: "";
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ADC178;
  position: fixed;
  bottom: 0;
}
footer p {
  font-size: x-small;
  margin-bottom: 0;
}
footer div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: "";
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer div a img {
  width: 25px;
}
footer div a .ml {
  width: 50px;
}
footer a {
  text-decoration: none;
  color: #0d3f2a;
}
footer .logoF {
  width: 25px;
}

.index {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 600px 150px 200px 300px;
  column-gap: 5px;
  row-gap: 10px;
  padding-top: 20px;
  background-color: #F0EAD2;
  place-content: center center;
  grid-template-areas: "intro intro" "titulo slide" "img slide" "p p";
  padding: 10px;
}
.index h2 {
  grid-area: titulo;
  color: #6C584C;
  font-weight: bold;
  place-self: center center;
}
.index div {
  grid-area: intro;
}
.index .img {
  grid-area: img;
  display: flex;
  justify-content: space-between;
  flex-direction: "";
  align-items: top;
  flex-wrap: wrap;
}
.index .img img {
  height: 90px;
  width: 90px;
  margin: 10px;
}
.index p {
  grid-area: p;
  font-size: larger;
  margin-top: 20px;
}
.index .carousel {
  width: 71%;
  grid-area: slide;
  place-self: center center;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  border: 10px solid #ADC178;
  border-radius: 5px;
}
.index .carousel button {
  z-index: 0;
}
.index .background {
  display: flex;
  justify-content: center;
  flex-direction: "";
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./../images/vivero.png);
  background-size: cover;
  width: 100%;
  height: 600px;
  border-color: #132a13;
  border: 5px;
}
.index .background div {
  opacity: 0, 2;
}
.index .background img {
  background-color: #ADC178;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #132a13;
  height: 200px;
}

.info {
  display: flex;
  justify-content: "";
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F0EAD2;
  padding-bottom: 20px;
}
.info .informes {
  display: flex;
  justify-content: "";
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
  border: 5px solid #ADC178;
  border-radius: 10px;
  width: 95%;
  margin: 20px;
  margin-bottom: 0;
}
.info .informes .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  column-gap: 10px;
  row-gap: 5px;
  width: 100%;
  /* place-self: center center; */
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.info .informes .cards a {
  place-self: center center;
  text-decoration: none;
  padding: 0 0 0 10px;
}
.info .informes .cards a:hover {
  width: 120%;
}
.info .informes .cards .card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: "";
  flex-wrap: wrap;
  margin: 10px 10px 10px 20px;
  width: 80%;
  height: 300px;
  padding: 5px 5px 5px 10px;
  border: 5px solid #ADC178;
  text-align: center;
}
.info .informes .cards .card h3 {
  font-size: medium;
}
.info .informes .cards .card p {
  font-size: small;
}
.info .informes .cards .card img {
  align-self: center;
  width: 40%;
  margin: 5px;
}

.contacto {
  display: flex;
  justify-content: center;
  flex-direction: "";
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./../images/vivero.png);
  height: 700px;
}
.contacto div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: #ADC178;
  margin: 10px repeat(3, 20px);
  padding: 15px;
  border-radius: 15px;
  border-color: #344E41;
  border: 5px solid;
}
.contacto div .contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 20px);
  column-gap: 5px;
  row-gap: 15px;
}
.contacto div .contacts input {
  border-radius: 10px;
  text-align: center;
}

main {
  background-color: #F0EAD2;
  padding: 20px;
}
main h1 {
  font-size: 30px;
}
main p {
  font-size: 17px;
}
main .products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
  flex-wrap: wrap;
  width: 50rem;
}
main .products .product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border: solid 3px #ADC178;
  padding: 5px;
  row-gap: 20px;
  width: 75rem;
  height: 50px;
  margin: 20px;
}
main .products .product button img {
  width: 20px;
}
main .products .product button img:hover {
  width: 30px;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: "";
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./../images/vivero.png);
  background-size: cover;
  height: 600px;
}
.login form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 25px);
  column-gap: 5px;
  row-gap: 20px;
  width: 300px;
  height: 120px;
  background-color: #ADC178;
  padding: 20px;
  border-radius: 15px;
  border-color: #344E41;
  border: 5px solid;
}
.login form input {
  border-radius: 5px;
  border: 2px solid;
  border-color: #344E41;
  background-color: #F0EAD2;
}

.btn-group {
  position: fixed;
  bottom: 40px;
}
.btn-group button {
  background-color: #ADC178;
  color: #344E41;
  font-weight: 900;
  font-size: small;
}
.btn-group button:hover {
  background-color: #344E41;
  color: #ADC178;
  font-weight: 900;
}
.btn-group button:active {
  background-color: #344E41;
  color: #ADC178;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  header {
    width: auto;
    position: relative;
    top: 0;
  }
  header .nav .nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
  }
  header .nav .nav__toggle .close,
  header .nav .nav__toggle input[type=checkbox] {
    display: none;
  }
  header .nav .nav__toggle .hamburger {
    margin-top: 0.2rem;
  }
  header .nav .menu {
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
  }
  header .nav .menu li {
    list-style: none;
    display: none;
  }
  header .nav .menu li:first-child {
    margin-right: auto;
    display: block;
  }
  header .nav .menu li a {
    text-decoration: none;
    color: initial;
    font-size: 1.2rem;
  }
  header .nav .menu #nav_checkbox:checked ~ ul.nav__menu li {
    display: block;
  }
  header .nav .menu #nav_checkbox:checked ~ label.nav__toggle .hamburger {
    display: none;
  }
  header .nav .menu #nav_checkbox:checked ~ label.nav__toggle .close {
    display: block;
  }
  .index {
    grid-template-columns: 100%;
    grid-template-areas: "titulo" "img" "slide" "p";
    row-gap: 5px;
  }
  .informes {
    width: 70%;
  }
  .informes .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
  }
  .informes .cards a {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .informes .cards .card {
    width: 80%;
    height: 150px;
    font-size: xx-small;
  }
  .informes .cards .card .img {
    width: 25px;
  }
  .informes .cards h3 {
    font-size: x-small;
  }
  .informes .cards p {
    font-size: x-small;
  }
  .btn-group {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
