.index{
    @include grid(40% 60%,600px 150px 200px 300px,5px,10px);
    padding-top:20px;
    background-color: $colorBg;
    place-content: center center;
    grid-template-areas: 
    "intro intro"
    "titulo slide"
    "img slide"
    "p p"
    ;
    padding: 10px;
    h2{
        grid-area: titulo;
        color: #6C584C;
        font-weight: bold;
        place-self: center center;
    }
    div{
        grid-area: intro;
    }
    .img{
        grid-area: img;
        @include flex(space-between,'',top,wrap);
        img{
            height: 90px;
            width: 90px;
            margin: 10px;
        }
    }
    p{
        grid-area: p;
        font-size:larger;
        margin-top: 20px;
    }
    .carousel{
        width: 71%; 
        grid-area: slide;
        place-self: center center;
        margin-top: 20px;
        /* margin-bottom: 20px; */
        border: 10px solid $colorBorders;
        border-radius: 5px;
        button{
            z-index: 0;
        }
    }
    .background{
        @include flex(center,'',center,wrap);
        background-image:url(./../images/vivero.png);
        background-size: cover;
        width: 100%;
        height: 600px;
        border-color: #132a13;
        border: 5px;
        div{
            opacity: 0,2;
        }
        img{
            background-color: $colorBorders;
            border-radius: 15px;
            box-shadow: 2px 2px 5px #132a13;
            height: 200px;
        }
    }
}