.info{
    @include flex('',column,center,wrap);
    background-color: $colorBg;
    padding-bottom: 20px;
    .informes{
        @include flex('',column,center,wrap);
        padding-top: 20px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 20px;
        border: 5px solid $colorBorders;
        border-radius: 10px;
        width: 95%;
        margin: 20px;
        margin-bottom: 0;
        .cards{
            @include grid(repeat(3,1fr),repeat(2,400px),10px,5px);
            width: 100%;
            /* place-self: center center; */
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            a {
                place-self: center center;
                text-decoration: none;
                padding: 0 0 0 10px;
                &:hover{
                    width: 120%;
                }
            }
            .card {
                @include flex(space-around,column,'',wrap);
                margin: 10px 10px 10px 20px;
                width: 80%;
                height: 300px;
                padding: 5px 5px 5px 10px;
                border: 5px solid $colorBorders;
                text-align: center;
                h3 {
                    font-size: medium;
                }
                p {
                    font-size: small;
                }
                img {
                    align-self: center;
                    width: 40%;
                    margin: 5px;
                }
            }
        }
    }
}