@media only screen and (max-width: 600px) {
    header{
        width: auto;
        position: relative;
        top: 0;
        .nav{
        .nav__toggle {
            position: absolute;
            cursor: pointer;
            margin: 0rem 1rem;
            right: 0;
            .close,
            input[type="checkbox"] {
                display: none;
            }
            .hamburger {
                margin-top: 0.2rem;
            }
        }
        .menu{
            gap: 2rem;
            align-items: center;
            margin: 1rem;
            flex-direction: column;
            li {
                list-style: none;
                display: none;
                &:first-child{
                    margin-right: auto;
                    display: block;
                }
                a {
                    text-decoration: none;
                    color: initial;
                    font-size: 1.2rem;
                }
            }
            #nav_checkbox{
                &:checked ~ ul.nav__menu li {
                    display: block;
                }
                &:checked ~ label.nav__toggle .hamburger {
                    display: none;
                }
                &:checked ~ label.nav__toggle .close {
                    display: block;
                }
            }
        }
        }
    }
    .index{
        grid-template-columns: 100%;
        grid-template-areas: 
        "titulo"
        "img"
        "slide"
        "p"
        ;
        row-gap: 5px;
    }
    .informes {
        width: 70%;  
        .cards{
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(6,200px);
            a {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .card{
                width: 80%;
                height: 150px;
                font-size: xx-small;
                .img {
                    width: 25px;
                }
            }
            h3 {
                font-size: x-small;
            }
            p {
                font-size: x-small;
            }
        }  
    }
    .btn-group{
        display: none;
    }
}