.btn-group{
    position: fixed;
    bottom: 40px;
    button {
        background-color: #ADC178; 
        color:#344E41;
        font-weight: 900;
        font-size: small;
        &:hover{
            background-color: #344E41; 
            color:#ADC178;
            font-weight: 900;
        }
        &:active{
            background-color: #344E41; 
            color:#ADC178;
            font-weight: 900;
        }
    }
}