.btn-group{
    position: fixed;
    bottom: 40px;
    button {
        background-color: $colorBorders; 
        color:$colorTxt;
        font-weight: 900;
        font-size: small;
        &:hover{
            background-color: $colorTxt; 
            color:$colorBorders;
            font-weight: 900;
        }
        &:active{
            background-color: $colorTxt; 
            color:$colorBorders;
            font-weight: 900;
        }
    }
}