footer{
    @include flex(space-between,'',center,wrap);
    width: 100%;
    background-color: $colorBorders; 
    position: fixed;
    bottom: 0;
    p{
        font-size: x-small;
        margin-bottom: 0;
    }
    div {
        @include flex(space-evenly,'','',wrap);
        gap: 20px;
        
        a{
            img{
                width: 25px;
            }
            .ml{
                width: 50px;
            }
        }
    }
    a{
        text-decoration: none;
        color: #0d3f2a;
    }
    .logoF{
        width: 25px;
    }
}