header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #ADC178;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 9px;
    .logo{
        width: 45px;
    }
    .menu{
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            margin: 15px;
            a{
                text-decoration: none;
                color:#344E41; 
                #carritoCompra{
                    width: 20px;
                }
            }
        }
    }
    a{
        place-self: center end;
        text-decoration: none;
        color: #344E41;  
    }
}