header{
    @include flex(space-between,'',center,wrap);
    position: sticky;
    top: 0;
    background-color: $colorBorders;
    z-index: 1;
    padding: 9px;
    .logo{
        width: 45px;
    }
    .nav{
        .nav__toggle {
            display: none;
        }
        .nav__checkbox{
            display: none;
        }
        .menu{
            @include flex(space-between,'','',wrap);
            display: flex;
            list-style: none;

            li{
                margin: 15px;
                a{
                    text-decoration: none;
                    color:$colorTxt; 
                    #carritoCompra{
                        width: 20px;
                    }
                }
                &:first-child{
                    display: none;
                }
            }
        }
    }
    a{
        place-self: center end;
        text-decoration: none;
        color: $colorTxt;  
    }
}

.header-login{
    justify-content: center;
}